/* Adicione os estilos para o mapa e o botão do WhatsApp aqui */
body {
    background-color: #cbf7e6; /* Verde azulado claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Cor do texto principal */
}

header {
    background-color: rgba(192, 245, 194, 0.89); /* Azul turquesa */
    border-radius: 10px;
    margin-bottom: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block; /* Alteração para inline-block para colocar os itens na horizontal */
    margin-right: 150px; /* Espaçamento entre cada palavra */
    height: 55px; /* Definindo uma altura para os itens do menu */
    line-height: 50px; /* Centralizando o texto verticalmente */
}

nav ul li:last-child {
    margin-right: 0; /* Remove a margem direita da última palavra */
}

nav ul li a {
    color: #069687;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px; /* Tamanho da fonte aumentado para 18 pixels */
    padding: 10px 20px; /* Espaçamento interno dos itens do menu */
    border-radius: 5px; /* Arredondamento das bordas */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

p {
    font-size: 18px;
}

nav ul li a:hover {
    background-color: rgba(58, 128, 60, 0.247); /* Cor de fundo ao passar o mouse */
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center; /* Centraliza o texto */
}

article {
    background-color: rgba(192, 245, 194, 0.89); /* Verde azulado com 30% de transparência */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}


article h2 {
    color: #069687; /* Cor do título do artigo */
}

.produto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto {
    width: calc(33.33% - 20px); /* 33.33% para cada coluna, -20px para o espaçamento entre produtos */
    float: left; /* Faz com que os produtos fiquem em linha */
    margin: 10px 0; /* Espaçamento entre cada produto, 20px em cima e embaixo, 0 nos lados */
    border: 2px solid #069687; /* Borda sólida preta */
    border-radius: 10px; /* Borda arredondada */
    padding: 8px; /* Espaçamento interno */
}


.produto img {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px; /* Centraliza a imagem e adiciona espaço abaixo */
}

.produto h2 {
    text-align: center; /* Centraliza o texto */
}

.produto p {
    text-align: center; /* Centraliza o texto */
}

.comprar {
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #46aaa0; /* Cor de fundo do botão */
    color: #000; /* Cor do texto do botão */
    padding: 10px; /* Espaçamento interno */
    border-radius: 20px; /* Borda arredondada */
    text-decoration: none; /* Remove sublinhado do link */
    margin-top: 20px; /* Espaçamento superior */
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.comprar:hover {
    background-color: #1a3f3b; /* Cor de fundo do botão ao passar o mouse */
}

p {
    text-align: justify;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366; /* Cor de fundo verde do WhatsApp */
    border-radius: 50%; /* Deixa o botão arredondado */
    padding: 15px; /* Espaçamento interno */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado do texto */
    font-weight: bold; /* Deixa o texto em negrito */
    display: flex; /* Permite alinhar o ícone e o texto lado a lado */
    align-items: center; /* Alinha verticalmente o ícone e o texto */
}

.whatsapp-btn img {
    width: 40px; /* Tamanho da imagem do ícone do WhatsApp */
    margin-right: 10px; /* Adiciona espaçamento entre o ícone e o texto */
}

.mapa-container {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    margin: 20px auto; /* Adiciona espaçamento superior */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
